     body {
         margin-top: 2%;
         font-family: 'Arial', 'Helvetica', 'sans-serif', 'Helvetica Neue';
         font-size: 1rem;
         width: 70%;
         margin: 2% 15%;
     }
 
     legend {
         font-size: 2rem;
         box-sizing: border-box;
         background-color: #fff;
         border: 2px solid #DDD;
         padding: 1rem 0.5rem;
     }

     * {
         box-sizing: border-box;
     }

     .name,
     .message,
     .email {
         margin-top: 30px;
         margin-bottom: 30px;
     }

     label {
         display: block;
     }

     fieldset {
         background-color: #F5F5F5;
         border: 2px solid #DDD;
     }

     .btn {
         font-size: 1rem;
         background-color: #6495ED;
         color: #fff;
         width: 20%;
     }

     input {
         margin: 5px 0px;
         height: 40px;
         width: 100%;
         border: 2px solid #DDD;
     }

     textarea {
         height: 80px;
         width: 100%;
         margin: 5px 0px;
         border: 2px solid #DDD;
     }

     .name {
         width: 49%;
         float: left;
     }

     .email {
         margin-left: 2%;
         width: 49%;
         float: right;
     }

     .message {
         width: 100%;
     }


     @media screen and (min-width: 40rem) and (max-width: 50rem) {
         input {
             margin: 5px 0px;
             height: 40px;
             width: 100%;
             border: 2px solid #DDD;
         }

         textarea {
             height: 80px;
             width: 100%;
             margin: 5px 0px;
             border: 2px solid #DDD;
         }

         .name {
             width: 49%;
             float: left;
         }

         .email {
             margin-left: 2%;
             width: 49%;
             float: right;
         }

         .message {
             width: 100%;
         }
     }


     @media screen and (min-width:25rem) and (max-width: 40rem) {
         body {
             width: 90%;
             margin: 2% 5%;
         }

         input {
             margin: 5px 0px;
             height: 40px;
             width: 100%;
             border: 2px solid #DDD;
         }

         textarea {
             height: 80px;
             width: 100%;
             margin: 5px 0px;
             border: 2px solid #DDD;
         }

         .name {
             width: 49%;
             float: left;
         }

         .email {
             margin-left: 2%;
             width: 49%;
             float: right;
         }

         .message {
             width: 100%;
         }
     }

     @media screen and (min-width:10rem) and (max-width:25rem) {
         body {
             width: 80%;
             margin: 2% 10%;
         }

         input {
             margin: 5px 0px;
             height: 40px;
             width: 100%;
             border: 2px solid #DDD;
         }

         textarea {
             height: 80px;
             width: 100%;
             margin: 5px 0px;
             border: 2px solid #DDD;
         }

         .name {
             width: 100%;
             float: none;
         }

         .email {
             margin-left: 0%;
             width: 100%;
             float: none;
         }

         .btn {
             width: 100%;
         }

     }
